@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
html {
  min-height: 100%;
  height: 100%;
  max-height: 100%;
}

body {
  background-color: #F0F0F0;
  font-family: "Poppins", Arial, sans-serif;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
}

header {
  background-color: #fff;
  padding: 1rem 1rem 0 1rem;
}

header div {
  display: flex;
  justify-content: space-between;
}

header div .logo {
  width: 10rem;
  height: 7.3rem;
  float: left;
  margin-right: 2rem;
}

header div a {
  margin-right: 1rem;
  text-decoration: none;
  color: black;
}

header div a .iconeLangue {
  margin-right: .2rem;
  margin-top: .6rem;
}

header div a i {
  font-size: 2rem;
  color: #BCA474;
}

header div .profile {
  /* style générale des h2 */
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

header div .connexion {
  height: 1.2rem;
  padding: .5rem 1rem;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  /* animation des bouttons */
  font-size: 1.1rem;
  background-color: #BCA474;
  border: solid 1px #BCA474;
  color: white;
  cursor: pointer;
}

header div .connexion:hover {
  background: -webkit-linear-gradient(#af9654 0%, #c1a65c 47%, #d4b565 100%);
  background: -o-linear-gradient(#af9654 0%, #c1a65c 47%, #d4b565 100%);
  background: linear-gradient(#af9654 0%, #c1a65c 47%, #d4b565 100%);
}

nav {
  clear: both;
  font-family: "Poppins", Arial, sans-serif;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
}

nav ul {
  margin-top: -3rem;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  padding: 0px 1.1rem;
  font-size: 1.1rem;
  margin: 0px;
  line-height: 2.25;
  -webkit-transition: .5s;
  color: #202020;
  z-index: 0;
}

nav ul li a:hover {
  color: #BCA474;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
}

footer ul {
  margin: 2rem 0;
}

footer ul li {
  margin-bottom: 1rem;
}

footer ul li span {
  color: #BCA474;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

footer ul ul li {
  display: inline-block;
}

footer ul ul li .carre {
  font-size: 1.4rem;
  padding: .1rem 0.4rem;
  margin: 0 2rem 0 0;
  box-shadow: 0 0 0 3px #BCA474;
  transition: all 500ms ease;
}

footer ul ul li .carre:hover {
  background-color: #BCA474;
  color: black;
  box-shadow: 0 0 0 3px #af9654;
  transition: all 500ms ease;
}

footer ul ul li .carre i {
  color: white;
}

footer ul ul li .carre i:hover {
  color: black;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
