@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* line 4, ../BO/css/input/_baseBO.scss */
a {
  text-decoration: none;
}

/* line 7, ../BO/css/input/_baseBO.scss */
body {
  display: grid;
  grid-template-columns: 1.5fr 5fr;
  grid-template-rows: 0.7fr 5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

/* line 14, ../BO/css/input/_baseBO.scss */
body header {
  grid-area: 1 / 1 / 2 / 6;
  background-color: black;
}

/* line 17, ../BO/css/input/_baseBO.scss */
body header nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

/* line 21, ../BO/css/input/_baseBO.scss */
body header nav p, body header nav a {
  color: white;
  /* style générale des h2 */
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

/* line 27, ../BO/css/input/_baseBO.scss */
body #mainMenu {
  grid-area: 2 / 1 / 7 / 2;
  background-color: #DCDCDC;
  padding: 3rem 1rem;
}

/* line 31, ../BO/css/input/_baseBO.scss */
body #mainMenu ul {
  display: flex;
  flex-direction: column;
}

/* line 34, ../BO/css/input/_baseBO.scss */
body #mainMenu ul li {
  margin-bottom: 2.5rem;
}

/* line 36, ../BO/css/input/_baseBO.scss */
body #mainMenu ul li a {
  /* style générale des h2 */
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-weight: 600;
  color: #0066CC;
  transition: .25s;
}

/* line 41, ../BO/css/input/_baseBO.scss */
body #mainMenu ul li a:active {
  color: black;
}

/* line 44, ../BO/css/input/_baseBO.scss */
body #mainMenu ul li a:hover {
  color: #BCA474;
}

/* line 51, ../BO/css/input/_baseBO.scss */
body main {
  padding: 2rem 1rem;
  grid-area: 2 / 2 / 7 / 6;
}

/* line 4, ../BO/css/input/styleManageRoomCategory.scss */
main section h2 {
  /* style générale des h2 */
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

/* line 8, ../BO/css/input/styleManageRoomCategory.scss */
main section h2 span {
  color: #BCA474;
}

/* line 12, ../BO/css/input/styleManageRoomCategory.scss */
main section p:first-child {
  color: green;
  text-align: center;
}

/* line 16, ../BO/css/input/styleManageRoomCategory.scss */
main section p:nth-child(2) {
  color: red;
  text-align: center;
}

/* line 20, ../BO/css/input/styleManageRoomCategory.scss */
main section table, main section td, main section th {
  border: 1px solid #BCA474;
}

/* line 23, ../BO/css/input/styleManageRoomCategory.scss */
main section th {
  background-color: #59d5ff;
  font-size: 1.1rem;
}

/* line 27, ../BO/css/input/styleManageRoomCategory.scss */
main section table {
  width: 95%;
  margin: 1rem auto;
}

/* line 30, ../BO/css/input/styleManageRoomCategory.scss */
main section table thead {
  font-weight: bold;
}

/* line 33, ../BO/css/input/styleManageRoomCategory.scss */
main section table th, main section table td {
  padding: .5rem 1rem;
  text-align: center;
  vertical-align: middle;
  word-break: break-all;
}

/* line 39, ../BO/css/input/styleManageRoomCategory.scss */
main section table .cat {
  width: 15%;
}

/* line 46, ../BO/css/input/styleManageRoomCategory.scss */
main section .messageSucces {
  color: green;
}

/* line 49, ../BO/css/input/styleManageRoomCategory.scss */
main section #updateRoomCategory {
  /* style générale du formulaire*/
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem 2rem;
  border-radius: 0 0 .5rem .5rem;
  margin: 0 auto;
}

/* line 52, ../BO/css/input/styleManageRoomCategory.scss */
main section #updateRoomCategory input {
  /* style spécial des élémets input du formulaire*/
  /* style générale des élémets input et select du formulaire*/
  background: #eef1f6;
  border: solid 1px #BCA474;
  font-size: 1rem;
  color: #495057;
  width: 30%;
  border-radius: .25rem;
  padding: .7rem 1rem;
  margin-bottom: 10px;
  width: 30%;
  display: block;
  margin: 10px auto;
}

/* line 57, ../BO/css/input/styleManageRoomCategory.scss */
main section #updateRoomCategory input[type="submit"] {
  /* Style général des bouttons */
  padding: 0.63rem 0;
  border-radius: .25rem;
  width: 25%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  /* animation des bouttons */
  font-size: 1.1rem;
  background-color: #BCA474;
  border: solid 1px #BCA474;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
}

/* line 75, ../BO/css/input/_mixin.scss */
main section #updateRoomCategory input[type="submit"]:hover {
  background: -webkit-linear-gradient(#af9654 0%, #c1a65c 47%, #d4b565 100%);
  background: -o-linear-gradient(#af9654 0%, #c1a65c 47%, #d4b565 100%);
  background: linear-gradient(#af9654 0%, #c1a65c 47%, #d4b565 100%);
}

/*# sourceMappingURL=styleManageRoomCategory.css.map */