@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* line 4, ../BO/css/input/_baseBO.scss */
a {
  text-decoration: none;
}

/* line 7, ../BO/css/input/_baseBO.scss */
body {
  display: grid;
  grid-template-columns: 1.5fr 5fr;
  grid-template-rows: 0.7fr 5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

/* line 14, ../BO/css/input/_baseBO.scss */
body header {
  grid-area: 1 / 1 / 2 / 6;
  background-color: black;
}

/* line 17, ../BO/css/input/_baseBO.scss */
body header nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

/* line 21, ../BO/css/input/_baseBO.scss */
body header nav p, body header nav a {
  color: white;
  /* style générale des h2 */
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

/* line 27, ../BO/css/input/_baseBO.scss */
body #mainMenu {
  grid-area: 2 / 1 / 7 / 2;
  background-color: #DCDCDC;
  padding: 3rem 1rem;
}

/* line 31, ../BO/css/input/_baseBO.scss */
body #mainMenu ul {
  display: flex;
  flex-direction: column;
}

/* line 34, ../BO/css/input/_baseBO.scss */
body #mainMenu ul li {
  margin-bottom: 2.5rem;
}

/* line 36, ../BO/css/input/_baseBO.scss */
body #mainMenu ul li a {
  /* style générale des h2 */
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-weight: 600;
  color: #0066CC;
  transition: .25s;
}

/* line 41, ../BO/css/input/_baseBO.scss */
body #mainMenu ul li a:active {
  color: black;
}

/* line 44, ../BO/css/input/_baseBO.scss */
body #mainMenu ul li a:hover {
  color: #BCA474;
}

/* line 51, ../BO/css/input/_baseBO.scss */
body main {
  padding: 2rem 1rem;
  grid-area: 2 / 2 / 7 / 6;
}

/* line 3, ../BO/css/input/formCheckIn.scss */
#checkIn {
  /* style générale du formulaire*/
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem 2rem;
  border-radius: 0 0 .5rem .5rem;
  width: 65%;
  margin: 0 auto;
}

/* line 7, ../BO/css/input/formCheckIn.scss */
#checkIn h2 {
  /* style générale des h2 */
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

/* line 11, ../BO/css/input/formCheckIn.scss */
#checkIn h2 span {
  color: #BCA474;
}

/* line 17, ../BO/css/input/formCheckIn.scss */
#checkIn form input {
  /* style spécial des élémets input du formulaire*/
  /* style générale des élémets input et select du formulaire*/
  background: #eef1f6;
  border: solid 1px #BCA474;
  font-size: 1rem;
  color: #495057;
  width: calc(90%/2);
  border-radius: .25rem;
  padding: .7rem 1rem;
  margin-bottom: 10px;
  width: calc(90%/2);
}

/* line 20, ../BO/css/input/formCheckIn.scss */
#checkIn form select {
  /* style générale des élémets input et select du formulaire*/
  background: #eef1f6;
  border: solid 1px #BCA474;
  font-size: 1rem;
  color: #495057;
  width: calc((100% - 1.3rem)/3);
  border-radius: .25rem;
  padding: .7rem 1rem;
  text-align: center;
}

/* line 23, ../BO/css/input/formCheckIn.scss */
#checkIn form select option:hover {
  background-color: #BCA474;
}

/* line 27, ../BO/css/input/formCheckIn.scss */
#checkIn form input[type="submit"] {
  /* Style général des bouttons */
  padding: 0.63rem 0;
  border-radius: .25rem;
  width: calc((100% - 1rem)/3);
  display: block;
  margin-right: auto;
  margin-left: auto;
  /* animation des bouttons */
  font-size: 1.1rem;
  background-color: rgba(191, 10, 53, 0.9);
  border: solid 1px #BCA474;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
}

/* line 75, ../BO/css/input/_mixin.scss */
#checkIn form input[type="submit"]:hover {
  background: -webkit-linear-gradient(#bf0a35 0%, #e31b4b 47%, #f03763 100%);
  background: -o-linear-gradient(#bf0a35 0%, #e31b4b 47%, #f03763 100%);
  background: linear-gradient(#bf0a35 0%, #e31b4b 47%, #f03763 100%);
}

/* line 39, ../BO/css/input/formCheckIn.scss */
#checkIn p {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}

/* line 3, ../BO/css/input/styleCheckRoomBO.scss */
section {
  width: 90%;
  margin: 1rem auto;
}

/* line 6, ../BO/css/input/styleCheckRoomBO.scss */
section article {
  margin-bottom: 8rem;
}

/* line 9, ../BO/css/input/styleCheckRoomBO.scss */
section article .imageChambre {
  max-width: 384px;
  max-height: 257px;
  float: left;
  margin-right: 1rem;
}

/* line 15, ../BO/css/input/styleCheckRoomBO.scss */
section article article {
  position: relative;
}

/* line 17, ../BO/css/input/styleCheckRoomBO.scss */
section article article h2 {
  /* style générale des h2 */
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  margin-bottom: 1rem;
}

/* line 21, ../BO/css/input/styleCheckRoomBO.scss */
section article article p {
  margin-bottom: 1rem;
}

/* line 23, ../BO/css/input/styleCheckRoomBO.scss */
section article article p span {
  color: #BCA474;
}

/* line 27, ../BO/css/input/styleCheckRoomBO.scss */
section article article input[type='submit'] {
  position: absolute;
  bottom: 0;
  right: 0;
  /* Style général des bouttons */
  padding: 0.63rem 0;
  border-radius: .25rem;
  width: 10rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
  /* animation des bouttons */
  font-size: 1.1rem;
  background-color: #BCA474;
  border: solid 1px #BCA474;
  color: white;
  cursor: pointer;
}

/* line 75, ../BO/css/input/_mixin.scss */
section article article input[type='submit']:hover {
  background: -webkit-linear-gradient(#af9654 0%, #c1a65c 47%, #d4b565 100%);
  background: -o-linear-gradient(#af9654 0%, #c1a65c 47%, #d4b565 100%);
  background: linear-gradient(#af9654 0%, #c1a65c 47%, #d4b565 100%);
}

/*# sourceMappingURL=styleCheckRoomBO.css.map */