@import"base";

#checkIn{
  @include form(1rem 2rem);
  width: 55%;
  margin: 2rem auto;
  //z-index: 10;
  h2{
    @include h2;
    text-align: center;
    margin-bottom: 2rem;
    span{
      color: #BCA474;
    }
  }
  form{

    input{
      @include inputForm(45%);
      min-width: 45%;
      max-width: 45%;
    }
    select{
        @include inputForm(45%);
        min-width: 45%;
        max-width: 45%;
        text-align: center;
        option:hover{
          background-color: #BCA474;
        }
    }
    input[type="submit"]{
      @include button(45%, .63rem 0);
      @include animButton(rgba(191, 10, 53, .9), #bf0a35, #e31b4b, #f03763);
      margin-top: 1rem;
      min-width: 45%;
      max-width: 45%;
      }

  }
  #erreur{ /* Message d'erreur dans le formulaire de la page formCheckInPage */
    color: red;
    text-align: center;
    margin-bottom: 1rem;
  }
}
