@import"base";

section{
  width: 80%;
  margin: 1rem auto;
  @include form(2rem 3rem);
  // height: 100%;
  display: flex;
  flex-wrap: wrap;
  article{
    width: calc((100% - 2rem)/2);
    form{
      margin-right: 2rem;
      input, textarea{
        @include inputForm(90%);
      }
      input[type='submit']{
        margin-top: 3rem;
        @include button(45%, .7rem 0);
        @include animButton($colorOr, #af9654, #c1a65c, #d4b565);
      }
      input+span, textarea+span{
        color: red;
      }
    }
  }
}
#success {
  @include success;
}
#closebtn {/** Boutton pour fermer le message de succès **/
  @include closebtn;
}
