@import"base";
h1{
  @include h2;
  text-align: center;
  margin: 2rem 0;
}
section{
  width: 70%;
  margin: 0 auto 3rem auto;
  h3{
    font-size: 1.4rem;
    font-family:$fontRaelway;
    font-weight: 600;
    margin: 1rem 0;
  }
  h4{
    font-size: 1rem;
    font-family:$fontRaelway;
    font-weight: 600;
    margin: 1rem 0;
  }
  p{
    margin: 0 0 0.5rem 0;
    span{
      font-weight:bold;
    }
  }
}
