@import"base";

section{
  width: 70%;
  margin: 12rem auto 2rem auto;
  h2{
    @include h2;
    text-align: center;
    margin: 2rem auto 3rem auto;
  }
  #event{
    width: 100%;
    height: 60vh;
    #img{
      @include backgroundImage(url("../../images/event/salleEvent1.jpg"), 50%, 100%);
      float: left;
      margin-right: 2rem;
    }
    p{
      margin-bottom: 1rem;
    }
    ul{
      margin-top: 3rem;
      li{
        margin-bottom: .5rem;
        span{
          text-transform: uppercase;
          color: $colorOr;
        }
      }
    }

  }

  h3{
    text-align: center;
    margin: 4rem auto 2rem auto;
    @include h3;
  }
    form{
      text-align: center;
      @include form(2rem 3rem);
      width: 60%;
      margin: 0 auto 5rem auto;
      input, textarea{
        @include inputForm(90%);
      }
      select{ /* style spécial pour les selects */
          @include inputSelectForm(95%);
          text-indent: -2px;
          margin-bottom: 10px;
          option:hover{
            background-color: #BCA474;
          }
      }
      #nom{
        width: calc((90% - 2.5rem)/2);
        display: inline-block;
      }
      #person{
        width: calc((90% - 2.5rem)/2);
        display: inline-block;
      }
      input[type='submit']{
        margin-top: 3rem;
        @include button(45%, .7rem 0);
        @include animButton($colorOr, #af9654, #c1a65c, #d4b565);
      }
    }
}

/** STYLE SMARTPHONE **/
@media (hover: none), (max-width: 840px){
  body{
    section{
      width: 95%;
      h2{
        @include h3;
        font-weight: bold;
      }
      #event{
        #img{
          margin-right: .5rem;
        }
      }
    }
  }
}
