@import"base";

section{
  width: 80%;
  margin: 12rem auto;
  @include form(2rem 3rem);
  // height: 100%;
  display: flex;
  flex-wrap: wrap;
  article{
    width: calc((100% - 2rem)/2);
    h2{
      @include h2;
      text-align: center;
      margin-bottom: 4rem;
    }
    form{
      text-align: center;
      input, textarea{
        @include inputForm(90%);
      }
      input[type='submit']{
        margin-top: 3rem;
        @include button(45%, .7rem 0);
        @include animButton($colorOr, #af9654, #c1a65c, #d4b565);
      }
      input+span, textarea+span{
        color: red;
      }
    }
  }
  #map{
    margin-top: 6rem;
  }
}
#success {
  @include success;
}
#closebtn {/** Boutton pour fermer le message de succès **/
  @include closebtn;
}


/** STYLE SMARTPHONE **/
@media (hover: none), (max-width: 840px){
  section{
    flex-direction: column;
    article{
      width: 70%;
      margin: 3rem auto;
      form{
        input[type='submit']{
          margin-top: 1rem;
        }
      }

    }
  }
}
