@import"base";
main{
  h2{
    @include h2;
    text-align: center;
  }
  section{
    width: 40%;
    margin: 12rem auto 0 auto;
    p{
      text-align: center;
    }
    form{
      @include form(2rem 2rem);
      label, input{
        display: block;
        width: 90%;
        text-align: center;
      }
      input{
        @include inputForm(70%);
        margin: .3rem auto 1.3rem auto;
      }
      input[type="submit"]{
        @include button(50%, .63rem 0);
        @include animButton($colorOr, #af9654, #c1a65c, #d4b565);
        margin-top: 1rem;
      }
    }
  }
  a{
    text-align: center;
  }
}
