<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/output/{{css}}.css">
    <link rel="stylesheet" media="print" href="css/output/print.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/datePicker.js" defer></script>
    <script src="../js/blockFormSubmitRefresh.js" defer></script>
    <script src="js/{{script}}.js" defer></script>
    <script src="https://kit.fontawesome.com/18ee91faff.js" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/leemark/embed360/20dac87eea4d7fc0f8a368519fc6c3b3a208f492/embed360.js"></script>

    <title>{{title}}</title>
  </head>
  <body>
    <header>
      <nav id="connection">
        <p>Bienvenue {{prenomUser}}</p>
        <a class="connexion" href="indexBO.php">Déconnexion</a>
      </nav>
    </header>
    <!-- Menu de navigation -->
    <nav id="mainMenu">
      <ul >
          <li><a href="editPassword.php">MODIFIER MOT DE PASSE</a></li>
          <li><a href="checkRoomBO.php">RESERVER CHAMBRE</a></li>
          <li><a href="resaRestaurant.php">RESERVER RESTAURANT</a></li>
          <li><a href="resaEvent.php">RESERVER EVENEMENT</a></li>
          <li><a href="manageReservation.php">GERER RESERVATIONS</a></li>
          <li><a href="manageRoom.php">GERER CHAMBRES</a></li>
          <li><a href="manageRoomCategory.php">GERER LES CATEGORIES DE CHAMBRE</a></li>
          <li><a href="manageComment.php">GERER AVIS</a></li>
          <li><a href="manageMessage.php">GERER MESSAGES</a></li>
          <!-- <li><a href="addLang.php">AJOUTER UNE LANGUE</a></li> -->
      </ul>
    </nav>
    <main>
      {% block contenu %}
    	{% endblock %}
    </main>
  </body>
</html>
