<script>
$( document ).ready( function ()
  {
$( "#submit" ).click( function()
{
// Expression régulière les champs de dates.
  const regex1 = /^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$/;

  // si le formulaire est correct, retourne 'true'
  // sinon affiche le message adéquat
    // Vérification des champs formulaires
    const fromDate = $( "#fromDate" ).val();
    const toDate = $( "#toDate" ).val();
    const nbPerson = $( "#nbPerson" ).val();
    const nbChild = $( "#nbChild" ).val();
    //const roomType = $( "#roomType" ).val();

    //$( "#formReservation" ).prop( "disabled", true );
    if ( !regex1.test( fromDate ) || fromDate.trim().length == 0)
    {
      $("#errorCheckJS").text("Veuillez entrer une date d'arrivée valide (année-mois-jour)");
      return false;
    }
    if ( !regex1.test( toDate ) || toDate.trim().length == 0)
    {
      $("#errorCheckJS").text("Veuillez entrer une date de départ valide (année-mois-jour)");
      return false;
    }
    if ($("#nbPerson option:selected").index() == 0)
    {
      $("#errorCheckJS").text("Veuillez choisir le nombre d'adulte svp");
      return false;
    }

    if ($("#nbChild option:selected").index() == 0)
    {
      $("#errorCheckJS").text("Veuillez choisir le nombre d'enfant svp");
      return false;
    }

  });
});

</script>

<article id="checkIn">

    <!-- formulaire de recherche de chambre dispo -->
    <h2>Réserver une <span>chambre</span></h2>
    <!-- Erreur du formulaire générer par php -->
    <p>{{errorCheck}}</p>
    <p id="errorCheckJS"></p>
  <form id="formChek" action="resaRoom.php" method="POST">
      <input type="text" id="fromDate" name="CheckIn" required="required" placeholder="Date d'arriver" value="">

      <input type="text" id="toDate" name="CheckOut" required="required" placeholder="Date de départ" value="">

     <select name="nbPerson" id="nbPerson">
       <option value="">--Nombre de personne--</option>
       <option class="option" value="1">1</option>
       <option class="option" value="2">2</option>
       <option class="option" value="3">3</option>
       <option class="option" value="4">4</option>
       <option class="option" value="5">5</option>
     </select>

     <select name="nbChild" id="nbChild">
       <option value="">--Nombre d'enfant--</option>
       <option class="option" value="1">1</option>
       <option class="option" value="2">2</option>
       <option class="option" value="3">3</option>
       <option class="option" value="4">4</option>
       <option class="option" value="5">5</option>
     </select>

     <select name="roomType" id="roomType">
       <option value="">--Choix de Chambre--</option>
       <option class="option" value="1">Chambre Standard</option>
       <option class="option" value="2">Chambre Familiale</option>
       <option class="option" value="3">Suite Senior</option>
     </select>


        <input id="submit" type="submit" name="submit" value="Vérifie disponibilité">

  </form>
</article>
