<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/output/styleConnexionBO.css">
    <title>Espace de connexion</title>
  </head>
  <body>
    <section>
      <h2>Espace de Connexion</h2>

      <h3>Entrez votre email et mot de passe</h3>
      <!-- Message d'erreur en cas d'echec de connexion -->
      <p>{{verifyConnection}}</p>
      <form action="connexionBO.php" method="post">
        <label for="email">Email :</label>
        <input type="text" id="email" name="email">
        <label for="mdp">Mot de passe :</label>
        <input type="password" id="mdp" name="mdp">
        <input type="submit" value="Se Connecter">
      </form>
    </section>
  </body>
</html>
