{% extends "baseBO.html.twig" %}
{% block contenu %}
<section>
  <p>{{errorForm}}</p>
  <form action="formEditPassword.php" method="post">
    <label for="oldPassword">Veuillez entrer l'ancien mot de passe</label>
    <input type="password" id="oldPassword" name="oldPassword">
    <label for="oldPassword">Veuillez entrer le nouveau mot de passe</label>
    <input type="password" id="newPassword" name="newPassword">
    <label for="oldPassword">Veuillez répéter le nouveau mot de passe</label>
    <input type="password" id="repeatNewPassword" name="repeatNewPassword">
    <input type="submit" name="updatePass" value="Modifier le mot de passe">
  </form>
</section>
{% endblock %}
