<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/output/{{css}}.css">
    <link rel="stylesheet" href="css/slider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script> -->

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/slider.js" defer></script>
    <script src="js/datePicker.js" defer></script>
    <!-- <script src="js/script.js" defer></script> -->
    <script src="js/{{script}}.js" defer></script>
    <script src="https://kit.fontawesome.com/18ee91faff.js" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/leemark/embed360/20dac87eea4d7fc0f8a368519fc6c3b3a208f492/embed360.js"></script>

    <title>Hotel Nice One</title>
  </head>
  <body>
    <header>
      <div class="">
        <a href="index.php">
          <img class="logo" src="images/logoPng.png" alt="Logo">
        </a>

        <!-- icones des langues -->
        <p id="icone">
          <span class='iconeLangue'><a href='?lang=fr'><img src='images/flags/fr.gif' alt='Fran&ccedil;ais'>Fr</a></span>
          <span class='iconeLangue'><a href='?lang=en'><img src='images/flags/uk.gif' alt='Anglais'>En</a></span>
          <span class='iconeLangue'><a href='?lang=it'><img src='images/flags/it.gif' alt='Anglais'>It</a></span>
        </p>
        <a class="connexion" href="connexion.php">{{connection}}</a>
        <a class="profile" href="profile.php"></a>
      </div>

      <!-- Menu de navigation -->
      <nav>
        <ul >
            <li><a href="room.php">CHAMBRES & SUITES</a>
              <!-- <li> <a href="#">CHAMBRE STANDARD</a> </li>
              <li> <a href="#">CHAMBRE DOUBLE</a> </li>
              <li> <a href="#">CHAMBRE DE LUXE</a> </li>
              <li> <a href="#">SUITE</a> </li> -->
            </li>
            <li><a href="restaurant.php">RESTAURANT</a></li>
            <li><a href="event.php">EVENEMENT</a></li>
            <li><a href="#">LOISIRS</a></li>
            <li><a href="contact.php">CONTACT</a></li>
        </ul>
      </nav>

    </header>

    {% block contenu %}
  	{% endblock %}

    <footer>
      <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Hébergement</a></li>
        <li><a href="#">Offres</a></li>
        <li><a href="#">Chose à faire</a></li>
      </ul>
      <ul>
        <li><a href="#">Restaurant</a></li>
        <li><a href="#">Réunions et événements </a></li>
        <li><a href="#">Galerie</a></li>
        <li><a href="#">Location</a></li>
      </ul>
      <ul>
        <li><a href="#">A propos de nous</a></li>
        <li><a href="#">Contactez-nous</a></li>
        <li><a href="#">Politique relative aux cookies </a></li>
        <li><a href="#">Mentions légales</a></li>
      </ul>
      <ul>
        <li><span>Adresse: </span> Campus Carlone - 06200, Nice</li>
        <li><span>Mail: </span> info@niceone.com</li>
        <li><span>Tél: </span> +33 6 00 00 00 00</li>
        <ul id="socialNetwork">
            <li><a href=""><span class="carre"><i class="fab fa-facebook"></i></span></a></li>
            <li><a href=""><span class="carre"><i class="fab fa-instagram"></i></span></a></li>
            <li><a href=""><span class="carre"><i class="fab fa-twitter"></i></span></a></li>
            <li><a href=""><span class="carre"><i class="fab fa-linkedin-in"></i></span></a></li>
        </ul>
      </ul>

    </footer>
  </body>
</html>
