{% extends "base.html.twig" %}
{% block contenu %}
  <div id="imgBackground">
  </div>
  <p id="bienvenue">Bienvenue au Nice ONE Resort & SPA</p>
  <h1 id="titrePage">Vos Avis</h1>
  <section>
    <h2>Avis clients</h2>
    <h3>UN HÔTEL UNIQUE À DÉCOUVRIR</h3>
    <hr></hr>
    <p>Nos clients sont les mieux placés pour vous parler de leur expérience au Nice ONE.<br>
      Découvrez leur avis et leurs commentaires au cours de leur séjour à Nice.</p>
    {% for comment in comments %}
      <article>
        <span>{{comment['dateComment']}}</span> - <span>{{comment['prenom']}}</span> <span>{{comment['note']}}</span>
        <p>{{comment['commentaire']}}</p>
      </article>
    {% endfor %}
  </section>
{% endblock %}
