{% extends "base.html.twig" %}
{% block contenu %}
<h1>Nos conditions de vente</h1>

<section>
  <h3>Politique de vente :</h3>

<p>Attention tarif non annulable : la totalité du séjour, non annulable, modifiable ou remboursable</p>

<p>Le tarif permet une période d’annulation sans frais jusqu’à 1 jours avant la date d’arrivée, et en cas d’annulation, changement ou non présentation, l’hôtel prélèvera alors la totalité du séjour.</p>
<p>En cas de litige non résolu, après avoir saisi le service client de notre établissement, et à défaut de réponse satisfaisante dans un délai de 1 mois, le client peut saisir le Médiateur du Tourisme et du Voyage, dont les coordonnées et modalités de saisine sont disponibles sur son site www.mtv.travel.</p>


</section>

{% endblock %}
