{% extends "headerFooter.html.twig" %}
{% block contenu %}
<section>
  <h2>Connexion</h2>
  <hr>
  <article>
            <h3>Bienvenue</h3>
            <form>
              <label for="login"><i class="bi bi-person-fill"></i> Login :</label>
              <input type="text" id="login" name="login">
              <label for="mdp"><i class="bi bi-lock-fill"></i> Mot de passe :</label>
              <input type="password" id="mdp" name="mdp">
              <hr>
                <input type="submit" value="Se Connecter">
    </form>
  </article>
</section>
{% endblock %}
