{% extends "base.html.twig" %}
{% block contenu %}
<h1>Politique de confidentialité conforme au RGPD</h1>

<section>
  <h3>Définitions :</h3>

  <ul>
    <li><span>L’Éditeur :</span> La personne, physique ou morale, qui édite les services de communication au public en ligne.</li>
    <li><span>Le Site :</span> L’ensemble des sites, pages Internet et services en ligne proposés par l’Éditeur.</li>
    <li><span>L’Utilisateur :</span> La personne utilisant le Site et les services.</li>
  </ul>

  <h3>Nature des données collectées</h3>


  <h4>Dans le cadre de l’utilisation des Sites, l’Éditeur est susceptible de collecter les catégories de données suivantes concernant ses Utilisateurs :</h4>
  <ul>
    <li>Données d’état-civil, d’identité, d’identification…</li>
    <li>Données de connexion (adresses IP, journaux d’événements…)</li>
    <li>Communication des données personnelles à des tiers</li>
    <li>Pas de communication à des tiers</li>
    <li>Vos données ne font l’objet d’aucune communication à des tiers. Vous êtes toutefois informés qu’elles
    pourront être divulguées en application d’une loi, d’un règlement ou en vertu d’une décision d’une autorité réglementaire ou judiciaire compétente.</li>
  </ul>

  <h4>Information préalable pour la communication des données personnelles à des tiers en
  cas de fusion / absorption</h4>

  <h4>Information préalable et possibilité d’opt-out avant et après la fusion / acquisition</h4>
  <p>Dans le cas où nous prendrions part à une opération de fusion, d’acquisition ou à toute autre forme de cession
  d’actifs, nous nous engageons à garantir la confidentialité de vos données personnelles et à vous informer
  avant que celles-ci ne soient transférées ou soumises à de nouvelles règles de confidentialité.</p>

  <h4>Finalité de la réutilisation des données personnelles collectées</h4>
  <ul>
    <li>L’élaboration de statistiques commerciales</li>
    <li>La gestion des demandes de droit d’accès, de rectification et d’opposition</li>
  </ul>

  <h3>Agrégation des données</h3>


  <h4>Agrégation avec des données non personnelles</h4>
  <p>Nous pouvons publier, divulguer et utiliser les informations agrégées (informations relatives à tous nos
  Utilisateurs ou à des groupes ou catégories spécifiques d’Utilisateurs que nous combinons de manière à ce
  qu’un Utilisateur individuel ne puisse plus être identifié ou mentionné) et les informations non personnelles à des fins d’analyse du secteur et du marché, de profilage démographique, à des fins promotionnelles et publicitaires et à d’autres fins commerciales.</p>

  <h4>Agrégation avec des données personnelles disponibles sur les comptes sociaux de l’Utilisateur</h4>
  <p>Si vous connectez votre compte à un compte d’un autre service afin de faire des envois croisés, ledit service pourra nous communiquer vos informations de profil, de connexion, ainsi que toute autre information dont vous avez autorisé la divulgation. Nous pouvons agréger les informations relatives à tous nos autres
  Utilisateurs, groupes, comptes, aux données personnelles disponibles sur l’Utilisateur.
  Collecte des données d’identité</p>

  <h3>Consultation libre</h3>
  <p>La consultation du Site ne nécessite pas d’inscription ni d’identification préalable. Elle peut s’effectuer sans que vous ne communiquiez de données nominatives vous concernant (nom, prénom, adresse, etc). Nous ne procédons à aucun enregistrement de données nominatives pour la simple consultation du Site.</p>

  <h4>
    Collecte des données d’identification<br>
    Utilisation de l’identifiant de l’utilisateur uniquement pour l’accès aux services
  </h4>
  <p>Nous utilisons vos identifiants électroniques seulement pour et pendant l’exécution du contrat.
  Collecte des données du terminal Collecte des données de profilage et des données techniques à des fins de fourniture du service Certaines des données techniques de votre appareil sont collectées automatiquement par le Site. Ces informations incluent notamment votre adresse IP, fournisseur d’accès à Internet, configuration matérielle, configuration logicielle, type et langue du navigateur… La collecte de ces données est nécessaire à la fourniture des services.</p>
  <p>Collecte des données techniques à des fins publicitaires, commerciales et statistiques
  Les données techniques de votre appareil sont automatiquement collectées et enregistrées par le Site, à des
  fins publicitaires, commerciales et statistiques. Ces informations nous aident à personnaliser et à améliorer</p>

  <p>continuellement votre expérience sur notre Site. Nous ne collectons ni ne conservons aucune donnée
  nominative (nom, prénom, adresse…) éventuellement attachée à une donnée technique. Les données collectées
  sont susceptibles d’être revendues à des tiers.</p>
</section>

{% endblock %}
