{% extends "headerFooter.html.twig" %}
{% block contenu %}
    <section>
      <!-- Formulaire de check-in -->
      {{include("checkIn.html.twig")}}
    </section>
    <section id="rooms">
      <article>
        <div id="standardRoom"></div>
        <h2>Chambre Standard</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <ul>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">1 grand lit simple de 140 cm</li>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">Salle de bain privative : douche</li>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">Air conditionné</li>
        </ul>
        <h4>A partir de 100€/Nuit</h4>
        <a href="formCheckInPage.php"><button type="submit" name="button">Réserver</button></a>
      </article>
      <article>
        <div id="standardRoomMer"></div>
        <h2>Chambre Standard Vue Mer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <ul>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">1 grand lit simple de 140 cm</li>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">Salle de bain privative : douche</li>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">Air conditionné</li>
        </ul>
        <h4>A partir de 130€/Nuit</h4>
        <a href="formCheckInPage.php"><button type="submit" name="button">Réserver</button></a>
      </article>
      <article>
        <div id="standardRoomJardin"></div>
        <h2>Chambre Standard Vue Jardin</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <ul>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">1 grand lit simple de 140 cm</li>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">Salle de bain privative : douche</li>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">Air conditionné</li>
        </ul>
        <h4>A partir de 120€/Nuit</h4>
        <a href="formCheckInPage.php"><button type="submit" name="button">Réserver</button></a>
      </article>
      <article>
        <div id="familyRoom"></div>
        <h2>Chambre Familiale</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <ul>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">2 grand lit simple de 140 cm</li>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">Salle de bain privative : douche</li>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">Air conditionné</li>
        </ul>
        <h4>A partir de 130€/Nuit</h4>
        <a href="formCheckInPage.php"><button type="submit" name="button">Réserver</button></a>
      </article>
      <article>
        <div id="luxuryRoomGarden"></div>
        <h2>Chambre Deluxe Vue Jardin</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <ul>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">2Lit King Size</li>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">Salle de bain privative</li>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">Vue mer</li>
        </ul>
        <h4>A partir de 150€/Nuit</h4>
        <a href="formCheckInPage.php"><button type="submit" name="button">Réserver</button></a>
      </article>
      <article>
        <div id="luxuryRoomSea"></div>
        <h2>Chambre Deluxe Vue Mer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <ul>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">2Lit King Size</li>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">Salle de bain privative</li>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">Vue mer</li>
        </ul>
        <h4>A partir de 170€/Nuit</h4>
        <a href="formCheckInPage.php"><button type="submit" name="button">Réserver</button></a>
      </article>
      <article>
        <div id="JuniorSuite"></div>
        <h2>Suite Junior</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <ul>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">Très spacieuse : 48 m².</li>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">Salle de bain privative avec jacuzzi</li>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">Vue mer</li>
        </ul>
        <h4>A partir de 200€/Nuit</h4>
        <a href="formCheckInPage.php"><button type="submit" name="button">Réserver</button></a>
      </article>
      <article>
        <div id="Seniorsuite"></div>
        <h2>Suite Senior</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <ul>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">Très spacieuse : 48 m².</li>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">Salle de bain privative avec jacuzzi</li>
          <li><img src="images/icones/list-puce-12.png" alt="icone puce">Vue mer</li>
        </ul>
        <h4>A partir de 250€/Nuit</h4>
        <a href="formCheckInPage.php"><button type="submit" name="button">Réserver</button></a>
      </article>
    </section>

{% endblock %}
