@import"baseBO";
body{
  main{
    table, td, th{
      border: 1px solid $colorOr;
    }
    table{
      width: 90%;
      margin: 3rem auto;
      thead{
        font-weight: bold;
      }
      th, td{
        padding: .5rem 1rem;
        text-align: center;
        vertical-align: middle;
      }
    }

    #checkIn{
      @include form(1rem 2rem);
      width: 50%;
      margin: 2rem auto;
      h2{
        @include h2;
        text-align: center;
        margin-bottom: 2rem;
        span{
          color: #BCA474;
        }
      }
      h3{
        color: red;
        text-align: center;
        margin-bottom: 1rem
      }
      form{
        input{
          @include inputForm(calc(80%/2));
        }
        input:first-child{
          margin-right: 2rem;
        }
        button{
          @include button(calc((100% - 1rem)/3), .63rem 0);
          @include animButton(rgba(191, 10, 53, .9), #bf0a35, #e31b4b, #f03763);
          margin-top: 1rem;
          }
      }
    }
    #updateResa{/* Message de succès après modification d'une réservation */
      color: green;
      text-align: center;
    }
    #room{
      width: 70%;
      margin: 2rem auto;
    }
  }
}
